body{
    background-color: orange;
}
table{
    border-collapse:collapse;
    border-spacing:2px;
}
tr,td{
    padding: 30px;
    border: 1px solid black;
}
tr:nth-child(odd) {
    td:nth-child(even)
    {
        background-color: black;
    }
    td:nth-child(odd)
    {
        background-color: white;
    }
}
tr:nth-child(even) {
    td:nth-child(even)
    {
        background-color: white;
    }
    td:nth-child(odd)
    {
        background-color: black;
    }
}
th{
    border: 1px solid transparent;
}
